.paket/paket.bootstrapper.exe
.paket/*.targets

.vs/*
*/bin/Debug/*
*/bin/Release/*
ArticleApi.Service/bin/*
*/obj/*
packages/*
*.csproj.user
*.DotSettings
output/*
dbOutput/*
.fake/
paket-files/
build/
test/
*/bin/
